#hero {
  padding-top: 60px;
  padding-bottom: 80px;
  height: 800px;
  background-image: url("../img/hero-background.png");
  background-size: cover;
  .img-container .img-title {
    bottom: 0px;
    left: 0px;
  }
  h1 {
    margin-bottom: 60px;
  }
  .spacer {
    width: 360px;
  }
  ul {
    display: flex;
    justify-content: space-around;
    li {
      a {
        color: white;
      }
      align-items: center;
      display: flex;
      font-family: "Roboto Light";
      font-size: 26px;
      @media (max-width: 1440px) {
        font-size: 15px;
      }
    }
  }
}
